# R
.Rhistory
.Rapp.history
.RData
.Ruserdata
.Rproj.user/
*.Rproj

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Data
*.csv
*.xlsx
!sample_*.csv
